.contact-list {
  background-color: whitesmoke;
  transition: width ease-in-out;
}

#listContainer {
  width: 85%;
}

@media (max-width: 800px) {
  #listContainer {
    width: 100%;
  }
}

.contact-list core-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);;
  padding: 15px;
}

.avatar {
  color: white;
  font-size: 28px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: red;
}

.contact-name {
  font-weight: bold;
}
